.game {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.addPokemon {
  display: flex;
  justify-content: center;
}
